{% extends 'base.html' %} {% block content %}
<div class="bg-light p-5 rounded">
  <h1>About Fun Olympic Game</h1>
  <p class="lead">
    The Olympic Games are an international sports event held every four years, once in the summer (the Summer Games) and once in the winter (the Winter Games) (the Winter Games). The Summer Games in 2012 were held in London, the Summer Games in 2016 in Rio de Janeiro, the Winter Games in 2014 in Sochi, Russia, and the Winter Games in 2018 in Pyeongchang, South Korea. The Olympic Games are officially known as the Games of the XXX Olympiad, with "XXX" representing the event's Roman numeral representation. For example, the 2008 Summer Olympics were officially known as the Games of the XXIX Olympiad.
  </p>
  <p class="lead">
    The Olympic Games are designed to bring together the world's best male and female competitors in a specific category of summer and winter sports. Winners of each of these competitions are now widely considered as the sport's champions for the four-year period after their victory.
  </p>
  <p class="lead">
    Men and women can compete in the Olympic Games, with the international governing organizations for the sports concerned establishing minimum and maximum age requirements (if any). The standard minimum age for participation in most Olympic sports is 16, however this varies by discipline. Marathon competitors, for example, must be at least 20 years old. The Youth Olympic Games, held in Singapore in 2010, inaugurated a new category of Olympic Games. Participants in the games have to be between the ages of 14 and 18.
  </p>
  <p class="lead">
    The sports featured in an Olympic event differ from one another. Since 1896, five sports have been included in each Summer Olympic Games: athletics, cycling, fencing, gymnastics, and swimming. For practically the whole time, a few sports, notably weightlifting and wrestling, were on the Olympic calendar. A variety of sports, including Basque pelota (1900 only), cricket (1900), rackets (1908), rugby sevens (2006), and water motorsports, have made brief debuts and then vanished from the games (1908). Cross-country skiing, figure skating, ice hockey, Nordic combined, ski jumping, and speed skating are among the seven sports included in all 21 Winter Olympic Games. Freestyle skiing and short-track speed skating are the two most recent winter sports (both introduced in 1992).
  </p>
</div>
<iframe
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3532.924152309715!2d85.3469251151109!3d27.68873903291627!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb198bf9bd6c7d%3A0xb9e9193ddf9eda4f!2sISMT%20College!5e0!3m2!1sen!2snp!4v1639844675626!5m2!1sen!2snp"
  width="100%"
  height="300"
  style="border: 0"
  allowfullscreen=""
  loading="lazy"
></iframe>
{% endblock content %}
